*{
    margin: 0;
}

:root {
    --rojoOscuro: #c82711;
    --rosita: #FFB8AE;
    --azulVinculos: #0075CA;
}

.circle-image {
    width: 100px;
    height: 100px;
    margin: 20px auto; /* Centrar horizontalmente y agregar margen vertical */
    background-image: url('/nuevo/Recursos/logo/logo\ animatch.png');
    background-size: cover;
    background-color: var(--rosita);
    background-position: center;
    border-radius: 50%;
}

.name {
    font-family: 'Merienda One', cursive;
    font-size: large;
    color: var(--rojoOscuro);
    text-shadow: 2px 2px 4px rgba(0, 0, 0.5, 0.5);
    text-align: center; /* Centrar horizontalmente */
    margin: 20px;
}

.text-soport {
    display: block; /* Cambiar a display block para que estén uno debajo del otro */
    text-align: center; /* Centrar horizontalmente */
    margin: 20px;
}

/* Estilos para el párrafo */
.text-soport p {
    font-size: 15px; 
    color: #333;
    max-width: 80%; 
    line-height: 1.5;
    margin: 0 auto; /* Centrar horizontalmente */
}

.soport-box{
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    width: 60%;
    height: 50vh;
    background-color: rgba(255, 184, 174, 0.5);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.send {
    position: absolute;
    bottom: 0; 
    left: 50%; 
    margin-bottom: 10px;
    transform: translateX(-50%);
    display: inline-block;
    background-color: var(--azulVinculos); /* Utiliza la variable definida en :root */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
    
.send:active {
    background-color: var(--rojoOscuro);
    transform: translate(-50%, 2px); /* Desplazar el botón ligeramente hacia abajo al hacer clic */
}

.copy {
    text-align: center;
    margin: 20px;
    color: var(--azulVinculos);
 }