
@media (min-width: 768px) {
    .nav {
    left: 55%;
    background-color: transparent;
    transform: none;
    top: -5px;
    width: auto;
    }

    .open-menu, .close-menu {
    display: none;
    }

    .nav-list {
    display: flex;
    margin-top: 0;
    }

    .nav-list a {
    font-size: 15px;
    }
    .nav-list a img {
      display: none; /* oculta las imágenes */
}

    .semicircle {
    width: 110%;
    height: 22rem;
    margin-bottom: 5rem;
    border-radius: 0 0 50% 50%;
    }

    .circle-image {
    width: 120px;
    height: 120px;
    margin: 80px auto;
    }

    .name {
    font-size: x-large;
    margin: 100px auto;
    padding: 40px;
    }


    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-icon, .menu {
        margin: 1rem 0;
        display: flex;
        justify-content: center;
    }

    .social-icon-item, .menu-item {
        margin: 0 10px;
    }

    .menu-link:hover {
        text-decoration: underline;
    }

    /* Ajustes en el copyright */
    .footer p {
        margin-top: 1rem;
    }


    
}
