:root {
    --rojoOscuro: #c82711;
    --rosita: #FFB8AE;
    --azulVinculos: #0075CA;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.circle-image {
    width: 80px;
    height: 80px;
    margin: 50px 0;  /* Sólo el margen vertical se aplica aquí para no desplazar el centrado horizontal */
    background-image: url('/Recursos/logo/logo animatch.png');
    background-size: cover;
    background-color: var(--rosita);
    background-position: center;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.name-soport {
    font-family: 'Merienda One', cursive;
    font-size: large;
    font-weight: bold; 
    color: #911f1f;
    text-shadow: 2px 2px 4px rgba(133, 133, 138, 0.5);
    position: relative;
    left: 8%;
    transform: translateX(-50%);
    margin: 40% 0% 20% 0%;  /* Esto es para eliminar cualquier margen adicional que pueda desplazar tu elemento */
}


.text-soport {
    margin:0 15% 20% 15% ; 
    font-family: 'Roboto', sans-serif;

}


@media (min-width: 768px) {

    .circle-image{
        margin: 10% 0% 10% 0%;
    }
    .name-soport {
        left: 0;
        transform: none;
        margin: 20% 10% 10% 10%; 
        font-size: x-large; 
        text-align: center; 
    }

    .text-soport {
        margin: 0 10% 10% 10%;  
        font-size: 18px;   
        text-align: center;
    }
}
