:root {
    --rojoOscuro: #c82711;
    --rosita: #FFB8AE;
    --azulVinculos: #0075CA;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
/*fondo con el semicirculo, logo y nombre*/
.semicircle {
    margin-bottom: 2rem;
    width: 100%;
    max-width: 100vw;
    height: 15rem;
    background: linear-gradient(to bottom, var(--rosita), var(--rojoOscuro));
    border-radius: 0 0 50vw 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.circle-image {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    background-image: url('/Recursos/logo/logo animatch.png');
    background-size: cover;
    background-color: var(--rosita);
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.name {
    font-family: 'Merienda One', cursive;
    font-size: large;
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0.5, 0.5);
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

.header {
    display: flex;
    top: 30px;
    justify-content: space-between;
    align-items: start;
    padding: 20px 20px;
    background-color: #911f1f;
}
.bienvenida {
    display: flex; /* Usamos flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

/* Estilos para el párrafo */
.bienvenida p {
    text-align: center; /* Centrar el texto */
    font-size: 20px; /* Tamaño del texto */
    color: #333; /* Color del texto */
    max-width: 80%; /* Ancho máximo del párrafo para mantener la legibilidad */
    line-height: 1.5; /* Espaciado entre líneas */
}
