/*Colores para toda la pagina*/
$ColorBlanco: #FFFFFF;
$ColorSalmonClaro: #FFF9F8;
$ColorSalmonMedio: #FFDDD9;
$ColorRojoOscuro: #C82711;
$ColorAzul: #0075CA;
$ColorGrisTransparente: #18181842;
$ColorRojo:  #FF5454;
$ColorNaranja: #F57D26;
$ColorVerde: #26F52E;
$ColorCeleste:#26C3F5;
$ColorVioleta: #9A26F5;