* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --rojoOscuro: #c82711;
    --rosita: #FFB8AE;
    --azulVinculos: #0075CA;
}

.circle-image {
    width: 60px;
    height: 60px;
    margin: 10px auto; 
    background-size: cover;
    background-color: var(--rosita);
    background-position: center;
    border-radius: 50%;
}

.name {
    font-family: 'Merienda One', cursive;
    font-size: medium;
    color: var(--rojoOscuro);
    text-shadow: 2px 2px 4px rgba(0, 0, 0.5, 0.5);
    text-align: center;
    margin: 10px auto;
}

.text-soport {
    text-align: center;
    margin: 10px auto;
}

.text-soport p {
    font-size: 14px;
    color: #333;
    max-width: 90%;
    line-height: 1.5;
    margin: 0 auto;
}

.soport-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: auto;
    width: 90%;
    background-color: rgba(255, 184, 174, 0.5);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

#support-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    
}

#support-form input, #support-form textarea {
    width: 100%;
    box-shadow: 1px 3px 5px #8e8686;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid var(--azulVinculos);
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

#support-form textarea {
    resize: vertical;
    min-height: 80px;
    max-height: 130px;
}

.send {
    margin: 10px auto;
    background-color: var(--azulVinculos);
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.send:active {
    background-color: var(--rojoOscuro);
    transform: translateY(2px);
}

.copy {
    text-align: center;
    margin: 10px auto;
    color: var(--azulVinculos);
}
/* Estilos para pantallas más grandes (ejemplo: tablets y desktop) */
@media (min-width: 768px) {
    .circle-image {
        width: 100px;
        height: 100px;
        margin: 20px auto;
    }

    .name {
        font-size: large;
        margin: 20px;
    }

    .text-soport {
        margin: 20px;
    }

    .text-soport p {
        font-size: 15px;
        max-width: 80%;
    }

    .soport-box {
        width: 60%;
        padding: 20px;
        padding-bottom: 50px;
        border-radius: 30px;
    }

    #support-form input, #support-form textarea {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
    }

    #support-form textarea {
        min-height: 100px;
        max-height: 150px;
    }

    .send {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 15px;
        font-size: 16px;
    }
}
